<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}">
        <img src="/assets/my_pic.png" alt="It's me!" class="my-pic"/>
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
      <p class="sidebar-nav-item">{{ site.hiring }}</p>
      <a href="/assets/ChanYuResume.pdf" class="sidebar-nav-item">我的履歷</a>
      <a href="mailto:lalala.jack@gmail.com" class="sidebar-nav-item" target="_blank">
        寫信給我
      </a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
